@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  
}

:root{
  --mainColorLight: #515d8b;
  --secondaryColor: #ffffff;
  --downloadCVBackground: #6B2286;
  --textColor: #c4c4c4;
  --backgroundColor: #140411;
  --logoColor: #fff;
  --backgroundBoxColor: rgb(24, 21, 39);
  --progress: 0%;
}

header {
  
  display: flex;
  align-items: center;
  justify-content: start;
  height: 80px;
  width: 100%;
  padding: 0 2rem;
  color: var(--textColor);
}

nav button{
  background-color: transparent;
  margin: 0 1.5rem;
  color: var(--textColor);
  text-decoration: none;
  font-size: 1.23em;
}



nav button:hover{
  color: var(--secondaryColor);
}

header .nav-btn{
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
}

.logo{
  font-size: 2.22em;
  font-weight: bold;
  color: var(--logoColor);
  cursor: pointer;
  user-select: none;
}

body{
  background-image: url('../../../public/img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

.contact-btn{
  border: solid white 1.3px;
  padding: 15px 30px;
}

.intro{
  overflow: hidden; /* Hide scrollbars */
  height: 550px;
  border: 10px solid var(--backgroundBoxColor);
  background-color: var(--backgroundBoxColor);
  color: var(--secondaryColor);
  border-radius: 25px;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
   rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
     rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  padding-left: 50px;
}

.type{
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 80px;
}

.description{
  color: var(--textColor);
  font-size: 2em;
  width: 50%;
  float: left;
}

#avatar img {
  pointer-events: none;
  width: 18vw; /* changed from fixed width in pixels to responsive width in vw */
  height: 18vw; /* changed from fixed height in pixels to responsive height in vw */
  float: right;
  margin-top: -65px;
  margin-right: 80px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 100%;
  height: auto;
}


@media (max-width: 480px) {
  #avatar img {
    width: 0%;
    height: 0%;
  }
}


.curriculum{
  font-size: 0.8em;
  text-decoration: none;
  color: black;
  transition: .2s;
  font-weight: bold;
  padding: 10px 20px;
  border: solid white 1.3px;
  margin-top: 20px;
  max-width: 47%;
  text-align: center;
  border: 1px solid black;
  border-radius: 7px;
  cursor: pointer;
}


.curriculum:hover{
  background-color: var(--downloadCVBackground);
  color: var(--secondaryColor);
}



.github, .linkedin{
  position: absolute;
  top: -5px;
  right: 10px;
  background-color: transparent;
  font-size: 0.8em;
  text-decoration: none;
  color: var(--textColor);
  transition: .2s;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 20px;
  max-width: 47%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 10px; /* add this */
  position: absolute;
  font-size: 1.1em;
  border: none; /* remove the border here */
  cursor: pointer;
}

.github:hover, .linkedin:hover
{
  color: var(--logoColor);
}
  




.github {
  margin-right: 80px;
}




.services{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px;
}

.service{
  width: 30%;
  border: 10px solid var(--backgroundBoxColor);
  background-color: var(--backgroundBoxColor);
  color: var(--secondaryColor);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
  rgba(0, 0, 0, 0.12) 0px 4px 6px,
   rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-bottom: 50px;
  text-align: center;
  padding: 20px;
}

.service h3{
  font-size: 1.5em;
  margin-bottom: 20px;
}

.service p{
  font-size: 0.8em;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .service {
    width: 45%;
  }
}

@media (max-width: 576px) {
  .service {
    width: 90%;
  }
}

.portfolio{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px;
}

.project{
  width: 30%;
  border: 10px solid var(--backgroundBoxColor);
  background-color: var(--backgroundBoxColor);
  color: var(--secondaryColor);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
  rgba(0, 0, 0, 0.12) 0px 4px 6px,
   rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-bottom: 50px;
  text-align: center;
  padding: 20px;
}

.project h3{
  font-size: 1.5em;
  margin-bottom: 20px;
}

.project p{
  font-size: 0.8em;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .project {
    width: 45%;
  }
}

@media (max-width: 576px) {
  .project {
    width: 90%;
  }
}

.footer{
  height: 80px;
  background-color: var(--backgroundBoxColor);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondaryColor);
  font-size: 0.8em;
}

.download-icon
{
  vertical-align: bottom;
}


.skills-container
{
  height: 23px;
  width: 450px;
  background-color: white;
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(175, 92, 15, 0) 54px 55px, rgba(170, 16, 231, 0.12) 0px -12px 30px,
  rgba(141, 14, 114, 0.12) 0px 4px 6px,
   rgba(184, 5, 169, 0.17) 0px 12px 13px,
    rgba(155, 16, 155, 0.09) 0px -3px 5px;
  
  }

.skills-container .skill-25
{
  position: absolute;
  height: 100%;
  background-color: var(--downloadCVBackground);
  animation: progress-animation 1s;
  animation-fill-mode: forwards;
  border-radius: 10px;
  --progress: 20%;
  
}

.skills-container .skill-88
{
  position: absolute;
  height: 100%;
  background-color: var(--downloadCVBackground);
  animation: progress-animation 1s;
  animation-fill-mode: forwards;
  border-radius: 10px;
  --progress: 88%;
  
}

.skills-container .skill-50
{
  position: absolute;
  height: 100%;
  background-color: var(--downloadCVBackground);
  animation: progress-animation 1s;
  animation-fill-mode: forwards;
  border-radius: 10px;
  --progress: 50%;
  
}

.skills-container .skill-75
{
  position: absolute;
  height: 100%;
  background-color: var(--downloadCVBackground);
  animation: progress-animation 1s;
  animation-fill-mode: forwards;
  border-radius: 10px;
  --progress: 75%;
  
}

.skills-container .skill-100
{
  position: absolute;
  height: 100%;
  background-color: var(--downloadCVBackground);
  animation: progress-animation 1s;
  animation-fill-mode: forwards;
  border-radius: 10px;
  --progress: 100%;
  
}

@keyframes progress-animation {
  0%
  {
  width: 0;
  }
  100%
  {
  width: var(--progress);
  }
}

.gamedev-skills{
 float: left;
 padding: 15px;
 width: 50%;
 height: 500px;
}

.javascript-skills{
  float: right;
  height: 500px;
  padding: 15px;
  }

.skill-header{
  padding: 5px;
}

.javascript-skills h1
{
  text-align: right;
}